*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(255, 255, 255);
    
}

.button button{
    border-radius: 8px;
    color: #fff;
    
}

ul{
    margin-left: 40%;
    color: #fff;
}
.nav-btn{
   border-radius: 8px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    margin-left: 70px;
    text-decoration: none;
}


.brand{
    
    color: rgb(72, 72, 72) ;
    margin-left: 100px;
}


.col-first{
    width: 390px;
    height: 700px;
    padding: 20px;
    border-radius: 8px;
    background-color: gainsboro;
}
.btn-dark{
    border: none;
    background-color: #000;
}



.col-second{
    width: 400px;
    height: 170px;
    background-color: gainsboro;
    border-radius: 8px;
}

.text-1{
    margin-left: 42px;
    font-size: 70px;
    color: dimgray;
}

.text-2{
    margin-left: 45px;
    font-size: 140px;
    color: #fff;
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.text-3{
    margin-left: 95px;
    color: dimgray;
    font-weight: 400px;
}

.ban{
    border-radius: 8px;
    border: none;
    padding: 14px 60px;
    margin-left: 95px;
    background-color: #000;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 21px;
}

.col-second2{
    width: 400px;
    height: 145px;
    
}
.Month{
    font-size: 35px;
}


.col-third{
    width: 400px;
    height: 700px;
    padding: 20px;
    border-radius: 8px;
    background-color: gainsboro;
}

body{
    background-color: whitesmoke;
}

.chanel{
    margin-left: 50px;
    padding: 70px;
    
}

.louis{
    margin-left: 25px;
}

.prada{
    margin-left: 50px;
}

.calvin{
    margin-left: 50px;
}

.denim{
    margin-left: 50px;
}

.btn h1{
    margin-left: 100px;
}

.btn-text{
    margin-left: 100px;
    margin-top: 20px;
}


.btn-dark{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 100px;
}

h1{
    margin-left: 100px;
}

h3{
    margin-left: 80px;
    padding: 20px;
}

.times {
    padding-left: 85px;
}

.times-img{
    width: 90px;
    height: 100px;
}

.plaj{
    width: 130%;
}

h1{
    margin-left: 650px;

}

.arivals-btn{
    border: none;
    background-color: grey;
}


.btn-1{
    margin-left: 100px;
    border-radius: 8px;
    padding: 10px;
    

}
.buttons{
    margin-left: 3%;
    padding: 50px;
}

.stars{
    margin-left: 29%;
    width: 35%;
}
.lady1{
    width: 88%;
    margin-left: 6%;
    margin-top: 3%;
}
.shiny{
    font-size: 16px;
    font-weight: 600;
}
.karam{
    font-size: 12px;
    color: #8A8A8A;
}
.customer{
    font-size: 12px;
    color: #484848;
    font-weight: 600;
    padding-top: 2%;
}
.number{
    font-size: 19px;
    padding-top: 3%;
    font-weight: 600;
    color: #484848;
}
.almost{
    font-size: 10px;
    margin-left: 45%;
    color: #FF4646;
}
.card{
    margin-top: 20%;
    margin-left: 18%;
    width: 18rem;
}
.stare{
    margin-left: 25%;
}
.stara{
    margin-left: 20%;
}

.more-shadow{
    margin-left: 580px;
        
} 

.more{
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    background-color: #000000;
    margin-top: 3%;
    margin-left: 45%;
    font-size: 15px;
    margin-bottom: 5%;
}
.chelovek{
    background-image: url(img/chelovek.png);
    background-repeat: no-repeat;
    margin-left: 6%;
   
    
}
.strelka1{
    margin-left: 50%;
    padding-left: 5%;
    margin-top: 3%;
}
.strelka3{
    margin-left: 40%;
    margin-top: 2%;
}
.strelka1{
    margin-left: 46%;
    margin-top: 3%;
}
.strelka2{
    margin-left: 5%;
    margin-top: 2%;
}
.strelka4{
    margin-top: 3%;
    
}
.strelka5{
    margin-top: 15%;
    margin-left: 40%;
    padding-bottom: 3%;
}
.pac{
    background-color: #F8F8F8;
}

.collec{
    margin-left: 5%;
    margin-top: 15%;
    color: #767676;
}
.blinder{
    font-size: 60px;
    margin-left: 5%;
    font-family: serif;
    font-weight: 600;
    color: #484848;
}
.ripper{
    font-size: 15px;
    margin-left: 6%;
    margin-top: 2%;
}
.lorem{
    margin-left: 5%;
    font-size: 17px;
    margin-top: 3%;
    color: #767676;
}
.miran{
    border-radius: 12px;
    padding:  0 10px ;
    background-color: #000000;
    color: #F8F8F8;
    
}
.size{
    margin-left: 5%;
}
.ber{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 21px;
    font-weight: 600;
}

.shadow-now{
    margin-left: 20px;
}

.now{
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: #F8F8F8;
    padding: 10px 40px;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 12px;
}

.from{
    margin-left: 5%;
}
.iconchik1{
    padding: 50px;
    margin-left: -150px;
   
}


.follow{
    text-align: center;
    padding-top: 5%;
    font-family: serif;
    font-weight: 600;
    color: #484848;
    margin-left: 0%;
}
.ipsum{
    text-align: center;
    padding: 25px;
}

.this{
    text-align: center;
    font-family: serif;
    color: #484848;
    font-weight: 600;
    padding-top: 8%;
    margin-left: 8px;
}
.server4{
    background-color: #FAFAFA;
}
.dolor{
    text-align: center;
    color: #8A8A8A;
    padding-top: 1%;
    font-size: 15px;
}

.carusel{
    padding-left: 20%;
}
.suzanchik1{
    width: 50%;
    padding-left: 5%;
}
.car-btn{
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
    color: #727272;
    margin-bottom: 5%;
}
.car-btn1{
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 8px 15px 8px 15px;
    margin-left: 47%;
    color: #727171;
    margin-bottom: 5%;
}
.suzanchik1{
    width: 53%;
    margin-left: 6%;
}
.boy{
    margin-top: 25%;
    margin-left: 45%;
}
.sub{
    margin-top: 60%;
    text-align: center;
    font-family: serif;
    font-weight: 600;
    color: #484848;
    margin-left: 25px;
}
.sol{
    text-align: center;
    color: #8A8A8A;
    font-size: 14px;
    margin-top: 3%;
    
}
.mail{
    margin-left: 14%;
    font-size: 17px;
    color: #8A8A8A;
    margin-top: 10%;
}
.fot-btn{
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #000000;
    color: #F8F8F8;
    margin-left: 30%;
    margin-top: 6%;
    font-size: 13px;
}
.boy1{
    margin-top: 25%;
    margin-left: 5%;
    height: 900px;
    padding-top: 90px;
}
.lin{
    color: #484848;
}

.footer-img{
    width: 600px;
    height: 500px;
}

.fasco1{
    padding: 40px;
}

.abuuu1{
    margin-left: -1%;
    padding: 50px;
    font-weight: bold;
}

.abu{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    margin-left: 0px;
    
}

.abdu{
    width: 200px;
    border-radius: 8px;
    margin-left: 1px;
}

.abdulla{
    width: 30px;
}

.abdullaa{
    width: 35px;
    height: 35px;
}

.abu1{
    padding: 40px;
    text-align: center;
    color: #767676;
}

.abucha{
    width: 300px;
}
   
.btn1{
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin-left: 20px;
}

.btn2{
    margin-left: 23px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
    height: 50px;
}

.abu2{
    margin-left: 280px;
    color:  #5B86E5;
}

.fot-img{
    margin-top: 2%;
    width: 14%;
    margin-left: 32%;
}
.footer-ul{
    margin-top: 2%;
    margin-left: 15%;
}
.footer-ul li{
    margin-left: 3%;
    color: #484848;
    padding-bottom: 4%;
}
.copy{
    padding-top: 2%;
    text-align: center;
    color: #484848;
}






